.main{
    user-select: none;
    display: flex;
    float: right;
    background-color:#FBFBFB;
    width: 90vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 97%;
    height: 95%;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 6px rgb(201, 201, 201);
}

.profileInfoWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 95%;
    /* border: black solid 1px; */
}

.imgBlock{
    width: 15%;
    height: auto;

}
.imgBlock img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.infoBlock{
    font-size: 15px;
    font-weight: 500;
    margin-top: 30px;
    background-color:#FBFBFB;
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgb(201, 201, 201);
}

.mainDark{
    user-select: none;
    display: flex;
    float: right;
    background-color:#3a3a3a;
    width: 90vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .mainContent{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 97%;
        height: 95%;
        border-radius: 20px;
        background-color: #3a3a3a;
        box-shadow: 0 0 6px rgb(201, 201, 201);
    }
    
    .profileInfoWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 95%;
        /* border: black solid 1px; */
    }
    
    .imgBlock{
        width: 15%;
        height: auto;
    
    }
    .imgBlock img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    
    .infoBlock{
        font-size: 15px;
        font-weight: 500;
        margin-top: 30px;
        background-color:#FBFBFB;
        padding: 10px;
        border-radius: 20px;
        box-shadow: inset 0 0 5px rgb(201, 201, 201);
    }
}