.calendar{
    width: 90%;
    height: 70%;
    /* border: rgb(201, 51, 51) solid 1px; */

}

.calendar select{
    border: #7163BA solid 1px;
    border-radius: 10px;
    cursor: pointer;
}

.calendar select:hover{
    box-shadow: 0 0 6px rgb(199, 199, 199);
}

.calendar header {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    height: 8%;
    /* border: black solid 1px; */
}

.calendar header button,
.calendar header select {
    margin: 0 2%;
}

.calendar header button{
    width: 10%;
    background-color: #7163BA;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.calendar header button:hover{
    box-shadow: 0 0 6px rgb(161, 161, 161);
}

.calendar header svg{
    color: rgb(255, 255, 255);
}


.calendar table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    height: 85%;
    margin: auto;
    /* border: black solid 1px; */
}

.calendar th {
    vertical-align: middle;
    text-align: center;
    color: rgb(95, 95, 95);
    /* border: rgb(51, 51, 194) solid 1px; */
}

.calendar .day {
    
    vertical-align: middle;
    text-align: center;
    border: 2px solid transparent;

    /* border: black solid 1px; */
}

.calendar .day:hover {
    background-color: #eaeaea;
    border-radius: 25%;
    cursor: pointer;
}

.calendar .day.selected {
    border: 2px solid #7163BA;
    border-radius: 25%;
}

.calendar .day.today {
    background-color: #7163BA;
    color: white;
    border-radius: 25%;
}

.calendar .day.today:hover {
    background-color: #7163BA;
}

.calendar .day.today.selected {
    border: 2px solid lightgray;
}

